<form>
  <div class="form-column">
    <label for="i_invest">INITIAL INVESTMENT</label>
    <input name="i_invest" id="i_invest" type="number" />
    <label for="e_return">EXPECTED RETURN</label>
    <input name="e_return" id="e_return" type="number" />
  </div>
  <div class="form-column">
    <label for="annual_inv">ANNUAL INVESTMENT</label>
    <input name="annual_inv" id="annual_inv" type="number" />
    <label for="duration">DURATION</label>
    <input name="duration" id="duration" type="number" />
  </div>
  <button>CALCULATE</button>
</form>
